/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
.container{
    width: 95%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header{
    width: 100%;
    height: 100px;
}

main{
    width: 100%;
    height: calc(100vh - 180px);
    background-color: #7fffd4;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    width: 100%;
    height: 80px;
}


/* ///////// */

/* header */
.logo{
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;

}
.left-header{
    display: flex;
    align-items: center;
}


/* MAIN */

.game-table{
    width: 500px;
    height: 500px;
    border: 1px solid black;
    
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.square{
    width: calc( 100% / 10);
    height: calc(100% / 10);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}
.square.color{
    background-color: #6495ed; 
    color: white;

 }

 .square.bomb{
     background-color: red;
 }
 
 #choose{
     padding-right: 40px;
 }
 #play-btn{
     padding: 0 20px;
 }



 /* final classes */

 .hidden{
     display: none;
 }
    